@model int
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="@Url.Action("GetCost", "Home")" method="post">
        <button type="submit">Get Cost</button>
    </form>
    <div> Total : @Model.ToString()</div>
</div>
